@import "tailwindcss";


* {
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #E3E6E6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.logo {
  max-width: 50px;
  z-index: 3;
}

.main-content {
  flex-grow: 1;
}
